.exercise-nav-links {
    list-style-type: none;
    display:inline-block;
    padding: 2px;
}

.exercise-nav-list {
    padding: 0;
}

.pets-nav {
    background-color:rgb(134, 236, 240);
}

.dogs-article {
    background-color: rgb(255, 228, 181);
}